/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

.TestComponentBlock {
  background-color: #bccce2;
  border: 3px solid #3c3c21;
  margin: 15px;
  text-align: center;
  padding: 10px;
}
