/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 15px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #7985da;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5261d4;
}

.TestComponentBlock {
  background-color: #bccce2;
  border: 3px solid #3c3c21;
  margin: 15px;
  text-align: center;
  padding: 10px;
}
