<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>IaC Studio</title>
  </head>
  <body>
    <div id="root"></div>
    <div id="modal-container"></div>
  </body>
  <script>
    window.electron.ipcRenderer.once('studio:ipc-example', (arg) => {
      // eslint-disable-next-line no-console
      console.log(arg);
    });
    window.electron.ipcRenderer.myPing();
  </script>
</html>
