<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CMP Studio</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
    window.electron.ipcRenderer.once('ipc-example', (arg) => {
      // eslint-disable-next-line no-console
      console.log(arg);
    });

    window.electron.ipcRenderer.once('create-app-config-file', (resultMsg) => {
      console.log(resultMsg);
    });

    window.electron.ipcRenderer.myPing();
    window.electron.ipcRenderer.createAppConfig();
  </script>
</html>
